#cboxClose {
    top:10px;
    right:10px;
}
#cboxContent #themain {
  width: inherit;
    margin: 0;
}
.fixed-while-overlay {
    position:fixed;
    width:100%;
}

#cboxContent .entry-footer {
    position:fixed;
    bottom:0;
    width:inherit;
    padding:0;
}

#cboxContent .entry-footer {
    width:780px;
}

#cboxLoadedContent {
    height:800px;
    margin:0;
}